/* base file for emax */

/* tried these, didn't like them. */
/* @import url('http://fonts.googleapis.com/css?family=Roboto+Condensed');  */
/* @import url('http://fonts.googleapis.com/css?family=Istok+Web'); */
/* @import url('http://fonts.googleapis.com/css?family=Maven+Pro'); */
/* @import url('http://fonts.googleapis.com/css?family=Scada'); */
/* @import url('http://fonts.googleapis.com/css?family=Asul'); */
/* @import url('http://fonts.googleapis.com/css?family=Playfair+Display'); */
/* @import url('http://fonts.googleapis.com/css?family=Merriweather'); */
/* @import url('http://fonts.googleapis.com/css?family=Lora'); */

@font-face {
	font-family:"PoiretOne";
	src:url('../fonts/PoiretOne-Regular.ttf');
}
@font-face {
	font-family:"Julius";
	src:url('../fonts/JuliusSansOne-Regular.ttf');
} 

@font-face {
	font-family:"Roboto Condensed Light";
	src:url('../fonts/RobotoCondensed-Light.ttf');
}
@font-face {
	font-family:"Roboto Condensed";
	src:url('../fonts/RobotoCondensed-Normal.ttf');
}
.main {
	font-family:"Roboto Condensed Light", sans-serif;
	font-weight:50;
    max-width:1024px;
    margin:30px auto 0px auto;
}
.topblock {
   padding:90px 0px 0px 0px !important;
   height:100px;
   position:relative;
   margin:0px;
   .nameblock {
	   position:absolute;
	   bottom:0px; left:0px;
	   .name {
           font-size:24pt;
           margin:5px 0px 5px 0px;          
	   }
	   .title {
		   line-height:0.99em;
		   margin:px 0px 10px 0px;
	   }
   }
   .linkblock {
	   position:absolute;
	   bottom:0px; right:0px;
	   text-align:right;
	   width:200px;
	   .contact {
		   line-height:1.2em;
		   display:inline-block;
		   padding:0px 5px 0px 5px;
	   }
   }   
}
.publications {
	list-style-type:none;
	.pub {
		.authors {
			font-size:80%;
			.author {
				display:inline-block;
				padding:0px 5px 0px 5px;
			}		
		}
	}
}
h2.sec-title {
	font-size:16pt;
	margin:0px;
}
