* {
    font-size:10pt;
}
div.pub, a.pub {
    padding:0px 0px 1em 0px;
    line-height:1.2em;
}
.title {
    font-weight:bold;
}
.booktitle {
    font-style:italic;
}
.organization {
    color:#888;
}
.year {
    color:#888;
}