<!DOCTYPE html>
<html lang="en">
  <head>
	<title>max van kleek :: professional page</title>
	<link rel="stylesheet/less" type="text/css" href="css/index.less"/>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">	
	<meta name="apple-mobile-web-app-capable" content="yes">
  </head>
  <body ng-app='emax' ng-cloak ng-animate>
	<div class="background"></div>
	<div class="container-fluid main" ng-controller="TopLevel">
	  <div class="topblock">
		<candy></candy>
		<div class="nameblock">
		  <div class="name">
			max van kleek
		  </div>
		  <div class="title">
			<div>senior research fellow</div>
			<div><a href="http://sociam.org">sociam project</a>, <a href="http://wais.ecs.soton.ac.uk/">web and internet science</a> group </div>
			<div><a href="http://www.soton.ac.uk">university of southampton</a>, uk</div>		  
		  </div>
		</div>
		<div class="linkblock">
		  <div class='contact' ng-repeat='c in contact'>
			<contact data='c'></contact>
		  </div>
		</div>
	  </div>
	  <div class="restblock">		  
		<div class="interests">
		  <!-- <div ng-repeat="s in sections">{{ s }}</div> -->
		  <interest ng-repeat='i in interests' data='i' data='i'></interest>		  
		</div>
		<div class="column-sec">
		  <div class="papers">
			<h2 class="sec-title">selected papers</h2>
			<ul class="listing">
			  <li ng-repeat="p in publications | orderBy:'year':true">
				<pub data="p"></pub>
			  </li>
			</ul>
		  </div>
		</div>
		<div class="column-sec skinnier chairing">
		  <h2 class="sec-title">chairing</h2>
		  <ul class="listing">
			<li ng-repeat="c in chairing | orderBy:'year':true">
			  <div> {{ c.title }}, <a href="{{c.url}}" target="_new">{{ c.conference }}</a>  </div>
			</li>
			</ul>
		  <div class='teaching'>		  
			<div class="column-sec skinnier teaching">		  
			  <h2 class="sec-title">teaching</h2>
			  <teaching ng-repeat="t in teaching | orderBy:'year':true" data="t"></teaching>
			</div>
		  </div>
		  <div class='contact'>
			<h2 class="sec-title">contact</h2>
			<p>
			  Please contact Max
			  via <a href="http://www.linkedin.com/profile/view?id=27825397">LinkedIn</a>,
			  <a href="http://twitter.com/emax">Twitter</a>, <a href="http://facebook.com/electronicmax">FB</a>
			  or via e-mail at max at hip dot cat.
			</p>
			<p>Max is available for freelance consulting on various
			  interaction and system design topics and enjoys difficult
			  UI and systems design challenges, particularly pertaining
			  to personal information management and privacy. His resume
			  can be found <a href="{{resume_url}}">here</a>.
			</p>
		  </div>
		</div>
		  
		  <!--
<div class="projects">		  
  <h2 class="sec-title">active projects</h2>
  <ul class="listing">
	<li ng-repeat="p in projects | filter:{active:true} | orderBy:date:reverse">
	  <project data="p"></pub>
</li>
</ul>
</div>
<div class="projects">		  
  <h2 class="sec-title">other projects</h2>
  <ul class="listing">
	<li ng-repeat="p in projects | filter:{active:false} | orderBy:date:reverse">
	  <project data="p"></pub>
</li>
</ul>
</div>
-->
		</div>		
	  </div>
	</div>
  </body>
  <script src="lib/scrollto.js" type="text/javascript"></script>
  <script src="lib/lesscss.min.js" type="text/javascript"></script>
  <script src="lib/jquery.min.js" type="text/javascript"></script>
  <script src="lib/angular-beta.min.js" type="text/javascript"></script>
  <script src="lib/angular-ui.js" type="text/javascript"></script>        
  <script src="lib/underscore.min.js" type="text/javascript"></script>
  <script src="lib/backbone.min.js" type="text/javascript"></script>
  <script src="lib/bootstrap.min.js" type="text/javascript"></script>  
  <script type="text/javascript" src="js/index.js"></script>
  <script type="text/javascript" src="js/google-spreadsheet-connector.js"></script>
  <script type="text/javascript" src="js/utils.js"></script>  
</html>
