<!--The whole content below can be removed with the new code.-->
<div class="sectiontop">
</div>
<div class="links">
    <a href="https://scholar.google.co.uk/citations?user=bknlzZwAAAAJ" target="_blank"><img src="assets/scholar.png" width="20"></a><br>
    <a href="https://twitter.com/emax" target="_blank"><img src="assets/twitter.png" width="20"></a> <br>
    <a href="https://thefutureispersonal.wordpress.com/" target="_blank"><img src="assets/blog.png" width="20"></a>
</div>
<div class="main">
    <div class="namebox">
        <div class="name">Max Van Kleek</div>
        <div class="title">Associate Professor of Human-Computer Interaction</div>
        <div class="title"><a href="http://www.cs.ox.ac.uk" target="_blank">Department of Computer Science</a>, <a href="http://www.ox.ac.uk" target="_blank">University of Oxford</a></div>
        <div class="title">{{email}} :: <a href="http://twitter.com/emax" target="_blank">@emax</a></div>
        <!-- <div class="title">Governing Body Fellow, <a href="http://www.kellogg.ox.ac.uk">Kellogg College</a>, Oxford</div> -->
    </div>

    <div class="intro">
        <div class="col1">
            <p>
            
                Hello! I am Associate Professor of Human-Computer Interaction at
                the <a href="http://www.cs.ox.ac.uk/" target="_blank">Dept. of
                Computer Science</a> at the <a href="http://www.ox.ac.uk/"
                target="_blank">University of Oxford</a>. I teach with
                the <a href="https://www.softeng.ox.ac.uk/"
                target="_blank">Software Engineering Programme</a>, which is among
                the first at Oxford to offer full postgraduate degrees to part-time professionals. 
                I teach courses in HCI, Data Science, Applied ML and Knowledge 
                Representation, including <a
                href="https://www.cs.ox.ac.uk/softeng/subjects/STC.html"
                target="_blank">Semantic Technologies (STC)</a>, and <a href="https://www.cs.ox.ac.uk/softeng/subjects/IDE.html"
                target="_blank">Interaction Design (IDE)</a>.

            </p>
            <p>
                My research activities within the Human Centred Computing theme focuses on 
                Augmented Human Cognition (AHC) through intelligent systems and smarter 
                interfaces.  This requires work at the intersection of AI, HCI, systems, 
                Cybersecurity, psychology, sociology, and even the health sciences,
                which requires my work to be wildly interdisciplinary--which is tremendously
                challenging but also extremely rewarding. 
            </p>
            <p>

                Among my close collaborators are <a
                href="https://www.jesus.ox.ac.uk/people/professor-sir-nigel-shadbolt-freng-frs"
                target="_blank">Sir Nigel Shadbolt</a>, <a
                href="https://www.w3.org/People/Berners-Lee/"
                target="_blank">Sir Tim Berners-Lee</a>, <a
                href="https://www.reubenbinns.com/" target="_top">Reuben
                Binns</a>, Richard Giordano, Jun Zhao, <a
                href="http://michae.lv/" target="_blank">Michael Veale</a>, and
                Petr Slovak.  Together, we have focused on usable privacy,
                namely articulating achieving privacy goals in highly
                networked environments, achieving difficult long-term
                health goals (including chronic disease management and disease
                prevention) requiring sustained motivation, and challenges in
                long-term data management in an era of pervasive data
                collection and data silos.
            </p>
        </div>
        <div class="col2">
            <p>

                Recently, Reuben, Micheal and I have been working to help 
                end-user EU citizens to exercise new rights granted to 
                them through the <a href="" target_="top">GDPR</a>  to
                take control of their personal data.  We also are working
                in Fairness, Accountable and Transparent Machine Learning (FATML)
                to helping people understand whether decisions about them are
                fair and reasonable.
            </p>
            <p>

                I have the pleasure of getting inspiration from many other HCC
                academics including <a
                href="https://www.cs.ox.ac.uk/people/ursula.martin/"
                target="_blank">Ursula Martin</a>, <a
                href="http://www.cs.ox.ac.uk/marina.jirotka/"
                target="_blank">Marina Jirotka</a>, <a
                href="https://www.cs.ox.ac.uk/people/helena.webb/"
                target="_blank">Helena Webb</a>, among others. 
                 <!-- SEP, including <a
                href="https://www.cs.ox.ac.uk/people/ivan.flechais/"
                target="_blank">Ivan Flechais</a>, and colleagues at the <a
                href="https://reutersinstitute.politics.ox.ac.uk/"
                target="_blank">Reuters Institute for the Study of
                Journalism</a> <a
                href="https://www.politics.ox.ac.uk/research-staff/rasmuskleis-nielsen.html"
                target="_blank">Rasmus Nielsen</a>. -->
            </p>
            <p> 

                My DPhil/PhD students include Peter West, <a
                href="https://www.cs.ox.ac.uk/people/william.seymour/"
                target="_blank">William Seymour</a> and <a
                href="https://www.cs.ox.ac.uk/people/nitin.agrawal/"
                target="_blank">Nitin Agrawal</a>, and co-advise <a href="https://www.cs.ox.ac.uk/people/ulrik.lyngs/"
                target="_blank">Ulrik Lyngs</a> and Gatis Mikelsons; I have
                also advised many excellent MSc students and undergraduate
                project theses. Contact me if you would like to discuss
                potential collaborations.                
            </p>        

            <p>
                I am also Governing Body Fellow of <a href="https://www.kellogg.ox.ac.uk" target="_blank">
                Kellogg College, Oxford</a>, 
                and Senior Member (faculty advisor) for the <a href="http://www.oxfordblockchain.net/" target="_blank">Oxford Blockchain
                Society</a>.  I serve as an LGBTQ+ representative on the Diversity committee 
                of the CS department and also am a member of the Departmental Ethics Committee.
                <a href="mailto:max.van.kleek@cs.ox.ac.uk">Contact me</a> if you have any questions 
                or need advice on any of these topics.
            </p>
        </div>
    </div>

            
    <!-- <div class="left-menu">
        <ul>
            <li><a routerLink="/about" routerLinkActive="active"> about</a>
            <li><a routerLink="/overview" routerLinkActive="active">all</a>
            <li><a routerLink="/overview/news" routerLinkActive="active">news</a>
            <li><a routerLink="/overview/project" routerLinkActive="active">projects</a>   
            <li><a routerLink="/publications" routerLinkActive="active">publications</a>
        </ul>
    </div> -->
    <router-outlet></router-outlet>
</div>
