
<div class="main">
  <div class="course">
    <h1>INTERACTION DESIGN (IDE)</h1>
    <div class="sched">
      First offered: July 2018 <br>
      Next offered: June 2019
    </div>
    <div class="desc">
      IDE is a Software Engineering Programme (SEP) course for MSc students that covers
      a combined introduction to Interaction Design and the research field of Human-Computer Interaction.
      The course is based on the text <a href="">Interaction Design: Beyond Human Computer Interaction, 3rd ed.</a>
      and combines applied psychology (experimental usability) and design theories in an integrated course.
    </div>
  </div>
  <div class="course">
    <h1>SEMANTIC TECHNOLOGIES (STC)</h1>
    <div class="sched">
        First offered: March 2018 <br>
        Next offered: May 2019 (assignment only)
    </div>
    <div class="desc">
        STC is a Software Engineering Programme (SEP) course for MSc students that provides a 
        comprehensive overview of semantic technologies, including knowledge representations (KR) 
        and languages, Description Logics (DL), query methods (SPARQL), and applications.
    </div>
  </div>
  <div class="course">
      <h1>ETHICS FOR COMPUTER SCIENCE UNDERGRADUATES</h1>
      <div class="sched">
          First offered: Jan 2019 <br>
      </div>  
      <div class="desc">
        This mini-course, taught with <a href="https://www.cs.ox.ac.uk/people/helena.webb/">Dr. Helena Webb</a>, is designed as an introduction to 
        ethics for second year undergraduate students in joint Computer Science courses (including
        Computer Science and Philosophy and Computer Science and Maths). We start with broad
        questions of the goals of ethics, philosophical stances on ethics, and provide many kinds
        of examples of difficult ethical questions that affect software developers, data scientists,
        AI researchers, and other computing-related specialists.
      </div>
  </div>
</div>