$padleft:40px;

div.main {
    // background-image:url('../../assets/imgs/aretha-bk.jpg');
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: 300px 100px;
    font-weight:bold;
    max-width:800px;
    // border:1px solid #999;
    margin-left:$padleft;
    position:relative;

    h1, h2 { 
        // font-size:12pt;
    }

    h1 { margin-bottom:0px; padding-bottom:0px; }
    h2 { margin-top:0px; padding-top:0px; }

    .title {
    }

    img.bkimg {
        // position:absolute;
        // top:0px; left:$padleft; right:0px;
        // opacity:0.2;
        width:100%;
        // z-index:100;
    }

    img.mainimg {
        // width:100%;
        width:400px;
        opacity:1.0;
    }
    .content {
    // width:100%;
        margin:0px 0px 0px 0px;
        background-color:rgba(255,255,255,0.9);
        margin-top:100p;
        padding:10px 0px 0px 0px; 
        .description /deep/ img {  
            width:99%;  
            margin:auto auto;
            padding:0px;
        }
        .pubs {
            position:relative;
            padding:20px 20px 10px 20px;
            // background-color:#eee;
            .topcorner {
                position:absolute;
                left:0px; top:0px; 
                border-top: solid 3px #555;
                border-left: solid 3px #555;
                height: 15px;
                width: 15px;
            }
            .bottomcorner {
                position:absolute;
                right:0px; bottom:0px;
                border-bottom: solid 3px #555;
                border-right: solid 3px #555;
                height: 15px;
                width: 15px;
            }
        }
        .pubs ul {
            margin:20px 0px 0px 0px;
            list-style-type: none;
            padding:0px 0px;
        }    

    }
    

    // .pubs {
    //     border:1px solid #eee;
    //     // position:absolute;
    //     float:right;
    //     margin:0px 0px 15px 15px;
    //     padding:22px 22px;
    //     font-size:8pt;
    //     width:150px;
    //     ul {
    //         list-style-type:none;
    //         padding-left:0px;            
    //     }
    // }
}
