<div class="main">

  <div class="headbox"><img class="head" src="assets/imgs/head-only.png"></div>
  <div class="namebox">
    <span class="name">MAX VAN KLEEK</span><br>
    <span class="title">ASSOCIATE PROFESSOR OF HUMAN-COMPUTER INTERACTION</span><br>
    <span class="title"><a href="http://www.cs.ox.ac.uk" target="_blank">DEPT OF COMPUTER SCIENCE</a>, <a href="http://www.ox.ac.uk" target="_blank">UNIVERSITY OF OXFORD</a></span><br>
    <span class="title"><a href="mailto:max.van.kleek@cs.ox.ac.uk">{{email|uppercase}}</a> :: <a href="http://twitter.com/emax" target="_blank">@EMAX</a></span><br>
    <!-- <div class="title">Governing Body Fellow, <a href="http://www.kellogg.ox.ac.uk">Kellogg College</a>, Oxford</div> -->
  </div>

  <div class="intro">
    <div class="col1">
        <p>        
            I am Associate Professor of Human-Computer Interaction at
            the <a href="http://www.cs.ox.ac.uk/" target="_blank">Dept. of
            Computer Science</a> at the <a href="http://www.ox.ac.uk/"
            target="_blank">University of Oxford</a>. I teach a variety
            of CS topics with the <a href="https://www.softeng.ox.ac.uk/"
            target="_blank">Software Engineering Programme</a>,  
            including those on HCI, Artificial Intelligence, Data Visualisation,
            Ethics, and Health Data Science. Most recently, I have taught <a
            href="https://www.cs.ox.ac.uk/softeng/subjects/STC.html"
            target="_blank">Semantic Technologies (STC)</a>, <a href="https://www.cs.ox.ac.uk/softeng/subjects/IDE.html"
            target="_blank">Interaction Design (IDE)</a>, and an Introduction
            to Ethics for Computer Science Undergraduates.
        </p>
        <p>
            My research activities fall within <a href="https://www.cs.ox.ac.uk/research/HCC/">Human Centred Computing</a> and
            focuses on Privacy, Autonomy, and Augmented Human Cognition (AHC) through 
            intelligent systems and smarter  interfaces.  
            This requires work at the intersection of AI, HCI, systems, 
            cybersecurity, psychology, sociology, and the health sciences. 
        </p>
        <p>

            I collaborate with many academics within and outside Oxford; my closest
            collaborators are <a
            href="https://www.jesus.ox.ac.uk/people/professor-sir-nigel-shadbolt-freng-frs"
            target="_blank">Sir Nigel Shadbolt</a>, <a
            href="https://www.w3.org/People/Berners-Lee/" target="_blank">Sir Tim
            Berners-Lee</a>, <a href="https://www.reubenbinns.com/" target="_top">Reuben
            Binns</a>, <a href="http://michae.lv/" target="_blank">Michael Veale</a>,
            <a href="https://sites.google.com/site/junzhaohome/" target="_blank">Jun Zhao</a>, <a href="https://uclic.ucl.ac.uk/people/petr-slovak" target="_blank">Petr Slovak</a>, and 
            <a href="https://www.southampton.ac.uk/healthsciences/about/staff/richard_giordano.page" target="_blank">Richard Giordano</a>. Together, we have focused on
            usable privacy, namely articulating achieving privacy goals in highly networked
            environments, achieving difficult long-term health goals (including chronic
            disease management and disease prevention) requiring sustained motivation, and
            challenges in long-term data management in an era of pervasive data collection
            and data silos.

        </p>
    </div>
    <div class="col2">
        <p>
            I also serve as a Governing Body Fellow of <a href="https://www.kellogg.ox.ac.uk" target="_blank">
            Kellogg College, Oxford</a>, and Senior Member for the <a href="http://www.oxfordblockchain.net/" target="_blank">Oxford Blockchain
            Society</a>.  Within the Department of Computer Science, I serve on the Equality and Diversity committees 
            working to improve diversity within CS, and the Departmental Ethics Committee (DREC) 
            to establish and promote safe and responsible research and innovation within and outside Oxford. 
        </p>
        
        <p>
          Students and postdocs: Interested in joining us to study or do research in HCI?  Contact me <a href="mailto:max.van.kleek@cs.ox.ac.uk">via email</a> if you have any questions 
          would like to apply to Oxford Computer Science in the areas of HCI, Privacy or Cybersecurity.
        </p>
    </div>
  </div>
</div>