

div.projects {
    line-height: 0em;
    // margin: 10px 0px 0px (0px - $padleft);
    display:inlinksboxne-block;
    padding: 0px;
    margin: 0px 0px 0px 20px; // $left_thresh;
    max-width: 640px;
    div.project {
        margin:0px;        
        display: inline-block;
        margin:0px 10px 10px 0px;
        padding:10px;        
        line-height: 1.0em;
        width: 120px;
        height: 120px;
        color: white;
        font-weight: bold;
        border: 1px solid #eee;
        vertical-align: top;
        border:2px solid #eee;
    }
}

.news {
    td {
        vertical-align:top;
        padding:0px 0px 10px 0px;
        // margin:0px 0px 10px 0px;
    }
    td.newsitem {
        padding-left: 10px;
    }
    td.newsdate {
        padding:0px;
        // font-size:11pt;
        min-width:90px;
    }

}