<div class="section first">
  <div class="sectitle">&nbsp;</div>
</div>
<div class="section" id="#about"></div>
<div class="section" id="#news"></div>
<div class="sectitle">news</div>
<div class="secbody">
    <table class="news">
        <tr *ngFor="let n of news">
            <td class="newsdate">{{ n.date.toISOString().split('T')[0] }}</td>
            <td>&mdash;</td>
            <td class="newsitem" [innerHtml]="n.summaryHtml"></td>
        </tr>
    </table>
</div>

<div class="sectitle">projects</div>
<div class="secbody projects">
    <a *ngFor="let p of projects" [routerLink]='["/projects/", p.id]'><div class="project" [style.color]="p.color" [style.borderColor]="p.color" >{{ p.name }}</div></a>
</div>
  
<div class="section" id="#publications">
<div class="sectitle">publications</div>
<div class="secbody">
    <div *ngFor="let py of by_year || []" [hidden]="!py.pubs">
        <h4>{{py.year}}</h4>
        <ul>
            <li *ngFor="let pub of py.pubs"><app-publication [p]='pub'></app-publication></li>
        </ul>
    </div>
</div>