div.pub, a.pub {
    padding:0px 0px 10px 0px;
    line-height:1.2em;
}

.title {
    /* font-weight:bold; */
    /* color:blue; */
    font-weight:500;
}
.booktitle {
    font-style:italic;
}
.reflinks {
    /* text-align:right; */
    /* font-size:10pt; */
    padding: 0px 0px 10px 0px;
    font-weight:500;
}