<div class="section first">
  <div class="sectitle">&nbsp;</div>
  <div class="secbody">

      <p>
          Personal computing has already changed the most basic activites of daily life&mdash;and is now at the cusp of changing the very ways people learn, think, and live. As digital technology becomes increasingly integrated and pervasive, design choices made in the process of developing such technologies start to have significant and visible effects on people's lives.
      </p>

      <!-- <p>
          Good design does not stop at the interface, nor the design of a "front-end" for a system. Instead, it involves considering and addressing fundamental challenges of how to support the needs of all those that might interact with a system, in ways that best helps their particular situations. Good design also involves anticipating future needs, constraints, and uses, to ensure that lasting effects of design choices made in the short-term will accommodate those, as well as potentially unanticipated
          future needs as well.
      </p> -->

      <p>
          In my research, I study how the design affordances of the tools people rely on daily meet or fail to meet their needs, and the sometimes profound effects that seemingly small features or flaws have, when amplified over time. Small changes of important
          systems can change people's behaviour, and whether deliberately or accidental, anticipated or not, may vastly alter the trajectory of people's activities and well-being.
      </p>

      <p>
          Looking towards future tools, I research potential uses of emerging methods from AI, including machine learning, autonomous, decentralised, and distributed systems-- towards imagining and prototyping new tools that autonomously support people's most important
          needs.
      </p>
  </div>
</div>
<div class="section" id="#about">
<div class="sectitle">research</div>
<div class="secbody">
    <p>
        My research falls under <a href="https://en.wikipedia.org/wiki/Human%E2%80%93computer_interaction" target="_blank">
        human-computer interaction</a>, in particular, I volunteer with the <a href="http://www.acm.org" target="_blank">ACM</a>'s  <a href="https://sigchi.org/" target="_blank">Special Interest Group on Computer-Human Interaction, SIGCHI</a>. 
        I've served as committee and PC member of many SIGCHI conferences, including CHI, CSCW, UIST, UBICOMP, IUI among others.
        </p>
        
        <p>
            I am currently named Co-Investigator (Co-I) on the <a href="https://www.petrashub.org" target="_blank">PETRAS</a> Project
            <a href="https://www.petrashub.org/portfolio-item/respectful-things-in-private-spaces-investigating-ethical-data-handling-for-very-personal-devices-retips/" target="_blank">ReTIPS: Respectful Things in Private Spaces</a>, and was previously
            a senior researcher in the EPSRC project
            <a href="https://sociam.org" target="_blank">SOCIAM: The Theory and Practice of Social Machines</a>, under PI <a href="https://www.cs.ox.ac.uk/people/nigel.shadbolt/" target="_blank">Sir Nigel Shadbolt</a>. In 2011, I received my Ph.D. from
            the <a href="http://haystack.csail.mit.edu/" target="_blank">Haystack Group</a> at <a href="https://www.csail.mit.edu" target="_blank">MIT CSAIL</a>, under <a href="https://people.csail.mit.edu/karger/" target="_blank">Prof. David Karger</a>.
        </p>

</div>
</div>

<div class="section" id="#news">
<div class="sectitle">news</div>
<div class="secbody">
    <table class="news">
        <tr *ngFor="let n of news">
            <td class="newsdate">{{ n.date.toISOString().split('T')[0] }}</td>
            <td>&mdash;</td>
            <td class="newsitem" [innerHtml]="n.summaryHtml"></td>
        </tr>
    </table>
</div>
</div>

<div class="section" id="#projects">
<div class="sectitle">projects</div>
<div class="projects">
    <a *ngFor="let p of projects" [routerLink]='["/projects/", p.id]'><div class="project" [style.color]="p.color" [style.borderColor]="p.color" >{{ p.name }}</div></a>
</div>
</div>

<div class="section" id="#activities">
    <div class="sectitle">oxford activities</div>
    <div class="secbody">
        <p>
            I supervise DPhil and MSc students within Computer Science at Oxford, as well as UGs with third year projects. Please contact me if you are interested in working on a project. Also, I am seeking research collaborations within and outside
            Oxford, including those overseas.
        </p>
        <p>
            I serve as a Governing Body Fellow at <a href="http://www.kellogg.ox.ac.uk/">Kellogg College, Oxford</a>; prospective or current students who wish to meet and discuss anything, please get in touch!
        </p>
        <p>
            I am also faculty advisor (senior member) of the <a href="http://oxfordblockchain.net/">Oxford Blockchain Network</a> working to promote understanding of, exploring the potential for, and dispelling hype around blockchain and related technologies.
        </p>
    </div>
    </div>

    
<div class="section" id="#publications">
<div class="sectitle">publications</div>
<div class="secbody">
    <div *ngFor="let py of by_year || []" [hidden]="!py.pubs">
        <h4>{{py.year}}</h4>
        <ul>
            <li *ngFor="let pub of py.pubs"><app-publication [p]='pub'></app-publication></li>
        </ul>
    </div>
</div>